/* MD */
@media screen and (max-width:1100px) {
    /* Colonne */
    .col{
        width: calc(100% / 4);
    }
}
/* S */
@media screen and (max-width:700px) {
    /* Colonne */
    .col{
        width: calc(100% / 2);
    }
}
/* XS */
@media screen and (max-width:600px) {
    /* Sezione barra laterale */
    .barra-laterale{
        width: 40px;
    }
    /* Sezione album */
    .sezione-album{
        width: calc(100% - 40px);
    }
    /* Barra laterale */
    .contenitore-a-scomparsa{
        display: none;
    }
    .barra-laterale-xs{
        display: block;
    }
}