/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.wrapper{
    height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

/* UTILITY */
.padding-verticale-1{
    padding: 1em 0em;
}
.padding-verticale-2{
    padding: 2em 0em;
}
.padding-sinistra-1{
    padding-left: 1em;
}


/* TIPOGRAFIA */
.titoli-sezioni{
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1em;
}
.titoli-carte{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.sottotitolo{
    color: #6d6f74;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}
.creato-per h2,
.artisti h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.creato-per p,
.artisti p{
    text-align: inherit;
    padding-left: 2em;
}


/* MAIN */
.sezione-principale{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    /* debug */
    background-color: #141922;
}

/*BARRA LATERALE*/
.barra-laterale{
    width: 200px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Barra laterale main */
.barra-laterale-main{
    overflow-y: auto;
}
.logo{
    padding: 1em 2.5em 1em 1em;
}
.barra-laterale ul{
    color: #6f6f6f;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 1em;
    padding-bottom: 2.5em;
}
.barra-laterale li{
    padding: 0.1em 0em;
}
.barra-laterale ul img{
    opacity: 0.5;
    max-width: 15%;
}
.barra-laterale a{
    color: #6f6f6f;
    vertical-align: super;
    text-decoration: none;
    font-weight: 600;
}
.barra-laterale h4{
    text-transform: uppercase;
    color: white;
    padding-left: 1em;
}
/* 2 lista */
.playlist{
    padding: 1em;
}
.playlist button{
    border-style: none;
}
.playlist i{
    font-weight:bolder;
    font-size: 1.2rem;
    padding: 0.4em;
    background-color: #a3a3a3;
}
.playlist a{
    padding-left: 0.5em;
    vertical-align: middle;
    font-weight: 600;
}
.playlist ul{
    padding: 1em 0em 0em 0em;
}
.playlist li{
    padding-bottom: 1em;
}
/* Barra laterale footer */
.barra-laterale-footer{
    z-index: 10;
}
.icona-download{
    width: 8%;
    vertical-align: middle;
}
.barra-laterale-footer a{
    font-size: 0.7rem;
    vertical-align: middle;
}
.barra-laterale-footer hr{
    border-color: #6f6f6f;
    margin: 0.2em 1em 0.2em 0em;
}
.icona-utente{
    opacity: 1;
    width: 10%;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
}
.barra-laterale-footer .nome-utente{
    color: white;
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
}

/*SEZIONE ALBUM*/
.sezione-album{
    width: calc(100% - 200px);
    overflow-y: auto;
}
/* Header */
header{
    height: 80px;
    width: calc(100%);
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottone-header{
    display: inline-block;
    border: 1px solid white;
    padding: 1em 3em;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* Nav album*/
.sezione-album nav ul{
    width: 60%;
    margin: 0 auto;
    color: #6d6f74;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
/* Main album */
/* Griglia */
.riga{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 6);
    padding: 1em;
}
.artisti img{
    border-radius: 50%;
}


/* SEZIONE PLAYER MUSICALE */
.sezione-player{
    height: 80px;
    background-color: #282828;
}



