/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.wrapper{
    height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

/* UTILITY */
.padding-verticale-1{
    padding: 1em 0em;
}
.padding-verticale-2{
    padding: 2em 0em;
}

/* TIPOGRAFIA */
.titoli-sezioni{
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1em;
}
.titoli-carte{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.sottotitolo{
    color: #6d6f74;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}
.creato-per h2,
.artisti h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.creato-per p,
.artisti p{
    text-align: inherit;
    padding-left: 2em;
}

/* MAIN */
.sezione-principale{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    /* debug */
    background-color: #141922;
}
/*BARRA LATERALE*/
.barra-laterale{
    width: 160px;
    height: 100%;
    /* debug */
    background-color: orange;
}

/*SEZIONE ALBUM*/
.sezione-album{
    width: calc(100% - 160px);
    overflow-y: auto;
}
/* Header */
header{
    height: 80px;
    width: calc(100%);
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottone-header{
    display: inline-block;
    border: 1px solid white;
    padding: 1em 3em;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* Nav */
nav ul{
    width: 60%;
    margin: 0 auto;
    color: #6d6f74;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
/* Main album */
/* Griglia */
.riga{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 6);
    padding: 1em;
}
.artisti img{
    border-radius: 50%;
}


/* SEZIONE PLAYER MUSICALE */
.sezione-player{
    height: 60px;
    /* debug */
    background-color: sienna;
}


/*DEBUG*/
.box-debug{
    margin: 0 auto;
    margin: 2em 0.1em;
    width: 80%;
    height: 50%;
    border: 2px solid aqua;
}

.box-debug-main{
    margin: 0 auto;
    width: 80%;
    height: 1000px;
    border: 2px solid chocolate;
    margin-top: 10em;
}
/* .box-debug-carta{
    border: 1px solid red;
    height: 100%;  
} */