/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.wrapper{
    height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}


/* UTILITY */
.padding-verticale-1{
    padding: 1em 0em;
}
.padding-verticale-2{
    padding: 2em 0em;
}


/* TIPOGRAFIA */
.titoli-sezioni{
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1em;
}
.titoli-carte{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.sottotitolo{
    color: #6d6f74;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}
.creato-per h2,
.artisti h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.creato-per p,
.artisti p{
    text-align: inherit;
    padding-left: 2em;
}


/* MAIN */
.sezione-principale{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    /* debug */
    background-color: #141922;
}

/*BARRA LATERALE*/
.barra-laterale{
    width: 200px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Barra laterale main */
.barra-laterale-main{
    overflow-y: auto;
}
.logo{
    padding: 1em 2.5em 1em 0em;
}
.barra-laterale ul{
    color: #6f6f6f;
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: 2.5em;
}
.barra-laterale li{
    padding: 0.1em 0em;
}
.barra-laterale ul img{
    opacity: 0.5;
    max-width: 15%;
}
.barra-laterale a{
    color: #6f6f6f;
    vertical-align: super;
    text-decoration: none;
    font-weight: 600;
}
.barra-laterale h4{
    text-transform: uppercase;
    color: white;
}

/* 2 lista */
.playlist{
    padding: 1em;
    padding-left: 0em;
}
.playlist button{
    border-style: none;
}
.playlist i{
    font-weight:bolder;
    font-size: 1.2rem;
    padding: 0.4em;
    background-color: #a3a3a3;
}
.playlist a{
    vertical-align: middle;
    font-weight: 600;
}
.playlist ul{
    padding: 1em 0em 0em 0em;
}
.playlist li{
    padding-bottom: 1em;
}

/* Barra laterale footer */
.barra-laterale-footer{
    z-index: 10;
}
.contenitore-a-scomparsa{
    padding-left: 1em;  
}
.icona-download{
    width: 8%;
    vertical-align: middle;
}
.barra-laterale-footer a{
    font-size: 0.7rem;
    vertical-align: middle;
}
.barra-laterale-footer hr{
    border-color: #6f6f6f;
    margin: 0.2em 1em 0.2em 0em;
}
.icona-utente{
    opacity: 1;
    width: 10%;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
}
.barra-laterale-footer .nome-utente{
    color: white;
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
}

/*Barra  laterale  responsive xs*/
.barra-laterale-xs{
    display: none;
}
.immagine-mini{
    max-width: 100%;
    padding: 0.3em;
}
i .immagine-mini{
    opacity: 0.5;
}
.icona-download-xs{
    width: 40%;
    opacity: 0.5;
    display: block;
    margin: 1em auto;
}
.icona-utente-xs{
    width: 30px;
    height: 30px;
    display: block;
    margin: 1em auto;
}


/*SEZIONE ALBUM*/
.sezione-album{
    width: calc(100% - 200px);
    overflow-y: auto;
}

/* Header */
header{
    height: 80px;
    width: calc(100%);
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottone-header{
    display: inline-block;
    border: 1px solid white;
    padding: 1em 3em;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Nav album*/
.sezione-album nav ul{
    width: 60%;
    margin: 0 auto;
    color: #6d6f74;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

/* Griglia Main album*/
.riga{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 6);
    padding: 1em;
}
.artisti img{
    border-radius: 50%;
}


/* SEZIONE PLAYER MUSICALE */
.sezione-player{
    height: 80px;
    background-color: #282828;
    display: flex;
}

/* Sezione-canzone */
.canzone{
    padding: 1em 0em;
    min-width: 200px;
    height: 100%;
    display: flex;
}
.canzone img{
    height: 100%;
    padding: 0em 0.5em;
}
.info-canzone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sezione-icone-canzone{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 2.5em;
}
.nome-artista{
    color: white;
}
.nome-brano{
    color: #848484;
    font-size: 0.5rem;
}
.canzone i{
    color: #848484;
    font-size: 0.8rem;
    vertical-align: middle;
    padding-left: 0.5em;
}

/* Sezione-riproduzione */
.sezione-riproduzione{
    width: calc(100% - 200px * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.riproduzione{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenitore-barra{
    width: 100%;
    display: flex;
    align-items: center;
}
.contenitore-bottoni{
    min-width: 210px;
}
.bottoni{
    color: white;
    font-size: 1rem;
    padding-bottom: 1em;
    padding-left: 1em;
    line-height: 2em;
    vertical-align: middle;
}
.bottone-grande{
    color: white;
    font-size: 2rem;
    padding-bottom: 0em;
    padding-left: 0.5em;
}
.barra{
    width: 100%;
    height: 4px;
    background-color: #848484;
    margin: 0em 1.2em;
    border-radius: 20px;
}
.barra-interna{
    width: 20%;
    height: 4px;
    background-color: #d3d3d3;
    border-radius: 20px;
}
.minutaggio{
    color: #f1f1f1;
    font-size: 0.7rem;
    font-weight: bolder;
}

/* Sezione-volume */
.volume{
    padding: 1em 0em;
    min-width: 200px;
    height: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}
.volume i{
    color: #f1f1f1;
    font-size: 0.8rem;
}
.volume .barra{
    width: 100%;
    margin-left: 0em;    
}


